.header {
    color: #fff;
    background: $primary-color-light;
    margin-bottom: $xlarge;
    padding: $medium 0;
}

.header__title {
    color: $secondary-color;
    text-align: center;
    font-size: $large;
    margin: 0;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.header__subtitle {
    text-align: center;
    font-size: $medium;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}