.widget {
    background: darken($primary-color-light, 3%);
    margin-bottom: $xlarge;
}

.widget-header {
    display: flex;
    justify-content: space-between;
    color: $tertiary-color;
    background: $primary-color-light;
    padding: $large;
    border-bottom: 2px solid $primary-color-dark;
    h3 {
        font-size: $medium;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
    }
}

.widget-message {
    color: $tertiary-color;
    padding: $large;
    margin: 0;
    text-align: center;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.widget-message--error {
    color: #AC5B57;
}