*::selection {
    color: $primary-color-dark;
    background: $secondary-color;
}

html {
    font-size: 62.5%;
    cursor: crosshair;
}

body {
    color: #fff;
    font-family: $primary-font;
    font-size: $medium;
    background: $primary-color-dark;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
    }
}
